version: '3.9'

services:
  student:
    build: 
        context: .
        dockerfile: StudentMicroService/Dockerfile
    container_name: student_service
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

  staff:
    build:
          context: .
          dockerfile: StaffMicroService/Dockerfile
    container_name: staff_service
    ports:
      - "5002:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

  auth:
    build: 
          context: .
          dockerfile: AuthMicroService/Dockerfile
    container_name: auth_service
    ports:
      - "5003:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

  gateway:
    build:
          context: .
          dockerfile: GatewayService/Dockerfile
    container_name: gateway_service
    ports:
      - "5000:8080"
    depends_on:
      - student
      - staff
      - auth
    environment:
      - ASPNETCORE_ENVIRONMENT=Development